.main {
  display: flex;
  padding: 4rem;
  gap: 4rem;
  position: relative;
  max-width: 1400px;
  margin: auto;
  flex: 1;
}

.main > div {
  flex: 1;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
